################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IS_lab1/.vs
/IS_lab1/.vs/*
/IS_lab1_v2/.vs
/IS_lab1_v2/.vs/*
