#body {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  left: 0; }

.sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  height: 100%;
  width: 400px;
  transition: all 0.3s ease-in-out;
  background-color: white;
  overflow-y: auto;
  z-index: 2;
  border: 1px solid #e8e8e8;
  background: #fafafa; }
  .sidebar-opened .sidebar {
    right: 0; }
  .sidebar-toggle {
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 50%;
    right: 0;
    height: 80px;
    width: 80px;
    z-index: 1;
    transform: translate(50%, -50%) rotate(45deg);
    border: 1px solid #d3d3d3;
    background: #e8e8e8;
    cursor: pointer; }
    .sidebar-opened .sidebar-toggle {
      right: calc(400px - 20px); }
    .sidebar-toggle__text {
      transform: rotate(45deg) translate(27px, 35px);
      text-align: center;
      width: 50px; }

.content {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;
  width: 100%; }
  .sidebar-opened .content {
    width: calc(100% - 400px); }

.product-item {
  width: calc(100% - 40px);
  display: inline-block;
  border: 1px solid #c6c6c6;
  margin: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer; }
  .product-item:hover {
    background: #fafafa; }
  .product-item__content {
    padding-top: 10px; }
  .product-item__body {
    display: inline-block;
    width: calc(100% - 220px);
    padding-left: 30px;
    vertical-align: top;
    padding-top: 20px; }
  .product-item__header {
    font-size: 1.5rem; }
    .product-item__header-name {
      display: inline-block;
      float: left;
      font-weight: bold;
      margin-left: 40px; }
    .product-item__header-cost {
      display: inline-block;
      float: right;
      margin-right: 30px;
      font-weight: bold; }
  .product-item__image {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-image: url();
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px; }
